<!--Header with text and close (x) button-->
<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <i class="fa fa-times"></i>
  </button>
</div>

<div class="wrapper">
  <!--Skills list-->
  <div class="skills-list" *ngFor="let s of skills">
    <!--Skill info-->
    <div class="info">
      <div>{{s.name}}</div>
    </div>
  </div>
</div>