@import "../../../../themes/variables";

.modal-header {
  background-color: $gray;
  justify-content: space-between;
  border: none;
  height: 15px;
  color: $white;

  
}

.close {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.9;
  font-weight: 400 !important;
  font-size: 16px;
  i {
    width: 16px;
    height: 16px;
  }
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    transform: rotate(90deg);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #e5e5e5;
  padding: 0;
  max-height: 610px;
  overflow-y: auto;

  .skills-list {
    display: flex;
    flex: 1;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 10px;
    text-decoration: none;
    min-height: 60px;
    .info {
      padding-left: 10px;
      .member-name {
        color: $nameColor;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
