@import "../../../themes/variables";

.box-skills-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5px;


  .team-link {
    color: $blue;
    cursor: pointer;
    margin-bottom: 2px;
  }

 
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    .skill {
      cursor: pointer;
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      background-color: $skillBg;
      color: $nameColor;
      padding: 0 25px;
      height: 25px;
      font-size: 12px;
      line-height: 50px;
      border-radius: 25px;
      margin: 10px 10px 10px 0;
    }
    .additional-avatar {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      background-color: $skillBg;
      color: $nameColor;
      padding: 0 25px;
      height: 25px;
      font-size: 12px;
      line-height: 50px;
      border-radius: 25px;
      margin: 10px 10px 10px 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 17pt;
  color: $gray-light;
  padding-bottom: 20px;
  font-weight: 100;
}

.last {
  margin-right: 0 !important;
}
