<!--page container -->
<div class="box-skills-container">
  <!--Skills-->
  <div class="skills-container">
    <span class="skill"
          [ngClass]="{'last': last}"
          *ngFor="let s of displayedSkills; let last = last"
          >
          {{s.name}}
    </span>
    <!--Additional skills avatar-->
    <span ngClass="additional-avatar"
          *ngIf="isMoreSkillsThanMax"
          (click)="showAllSkills()">
     <span class="max-displayed-skills">{{skills.length-maxDisplayedSkills+1}} More</span>
    </span>
  </div>

</div>

