@import "../themes/variables";

.app-component-container {
  
  .app-component-sub-container{
  
    .al-main {
      // display: flex;
      // flex: 1;
      // padding: 7vh 0 10px 0;
      // min-height: 100vh;
      // position: relative;
      // background-color: $main-bgc;
      // align-items: start;
      // justify-content: start;
    }
  }
}
