<main class="app-component-container">
  <div class="app-component-sub-container">
    <div class="container-fluid nomargin">
      <div class="row">
    <div class="side-bar-wrapper nopadding col-12 col-sm-4 col-md-3 col-lg-2">
      <ba-sidebar class="side-bar"></ba-sidebar>
    </div>
    <div class="al-main col-12 col-sm-8 col-md-9 col-lg-10">
      <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </div>
  </div>
  </div>
  </div>
</main>