@import "../../themes/variables";

hr {
  margin: 0 0 0 10px;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

.sidebar {
  background-color: $sideBarBgColor;
  height: 100vh;
  box-shadow: 0 0 7px 0 rgba(107, 107, 107, 0.61);
  margin-right: 5px;


  .nav-desktop-container {
    padding: 20px 5px;
    

    .sub-menu {
     
      nav {
        margin-bottom: 0;
      }
      
      nav li {
        width: 100%;
        padding: 5px 0 5px 0;
      }
      
      nav li a {
        font-size: 13px;
        color: #000;
        text-decoration: none;
      }
      
      nav.navbar-default {
        background-color: transparent;
        border-color: transparent;
      }
      
      .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 3px;
        margin-left: 10px;
      }
      
      .navbar-nav > li {
        text-align: start;
        border-left: 6px solid #ffffff;
      }
      
      .col-md-12 {
        padding-right: 0;
      }
      
      .navbar {
        min-height: 0;
        border-radius: 0%;
        padding: 0;
      }
      
     
      
      .active {
        border-left: 6px solid $blue !important;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .sidebar  {
    background-color: #aed6fd;
    height: 100% !important;
  }
  
}


