<div class="sidebar">
  <div class="nav-desktop-container ">
    <div class="sub-menu">
      <div>
        <nav class="navbar navbar-default ">
          <div class="row m-0 flex-nowrap">
            <div class="col-2">
              <div class="navbar-brand">BE ALL</div>
            </div>
            <div class="col-10">
              <button class="navbar-toggler float-right" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <i class="fa fa-bars"> </i>
              </button>
            </div>
          </div>

          <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav mr-auto">
              <li [ngClass]="{'active': directoryActive}">
                <a [routerLink]="directoryUrl">Community Directory</a>
              </li>

              <li [ngClass]="{'active': profileActive}">
                <a [routerLink]="profileUrl">My Profile</a>
              </li>

              <li [ngClass]="{'active': companyActive}">
                <a [routerLink]="companyUrl">My Company</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>