// Global styles for in-app objects
.ba-container {
  display: flex;
  flex-direction: column;
  background-color: $main-bgc;
  justify-content: center;
  margin-left: 5%;
  padding-top: $marginTop;
}

.ba-page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $main-bgc;
  align-items: center;
  width: 80vw;
  margin-left: $marginLeft;
  margin-top: $marginTop;
}

.ba-page-content-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: $main-bgc;
  align-self: center;
  width: 80vw;
  max-width: 1080px;
  justify-content: center;
}

.ba-main-left-container {
  padding: 0 0 10% 0;
  align-self: center;
  width: 66.66667%;
}

.ba-main-left-content {
  flex: 1;
  align-self: center;
  max-width: 660px;
}

.ba-main-right-container {
  flex: 0 0 300px;
  justify-content: center;
  margin-left: 3vw;
}

.ba-main-right-content {
  justify-content: center;
  flex: 1;
  background-color: $main-bgc;
  position: fixed;
}

.ba-btn {
  border-radius: 0 !important;
  background-color: $blue;
  color: $white;
  min-width: 100px;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
  border: 1px solid $blue;
  transition: all 200ms;
  min-height: 30px;
  &:hover {
    color: $white;
  }
  &:after {
    border: none;
  }
  &:active {
    color: $white !important;
  }
}

.ba-btn:focus {
  outline: none !important;
}

.ba-btn-outline {
  border-radius: 0 !important;
  background-color: $white;
  color: $blue;
  width: 100px;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
  border: 1px solid $blue;
  transition: all 200ms;
  height: 30px;
  &:hover {
    font-size: 12px;
    color: $blue;
  }
  &:after {
    border: none !important;
  }
}

.ba-btn-outline:focus {
  outline: none;
}

.ba-box {
  display: flex;
  flex: 1;
  background-color: #fff;
  margin: 20px 0;
  padding: 15px 10px 15px 10px;
  box-shadow: 1px 1px 5px 0px rgb(185, 184, 185);
}
