@import "fonts";
@import "bootstrap";
@import "in-app-objects";

html {
  background-color: $main-bgc !important;
  body {
    //font fallback to Hebrew font (Rubik)
    font-family: Roboto, Rubik, sans-serif !important;
    height: 100vh;
    background-color: $main-bgc;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
}

button {
  &:focus {
    outline: none !important;
  }
}

*,
*:before,
*:focus,
*:after {
  box-sizing: inherit;
  outline: none;
}

input {
  border-radius: 0 !important;
}

input[type="text"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 0;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 1px $blue;
  border: 1px solid $blue;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: $ba-gray-text;
}

//disable resize for text area
textarea {
  resize: none !important;
}

.al-main {
  background-color: $main-bgc;
}

.close {
  font-weight: 400 !important;
  :focus {
    outline: none !important;
  }
}

hr {
  margin: 0 0 0 10px;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}
