<div class="search-box">
        <!--category-name-->
        <div class="row" style="padding-left:15px" *ngIf="mobileFilter === ''">
          <p class="col-8  nopadding category-name">Community Directory</p>
          <i class="col-2 fa fa-circle d-sm-none" (click)="userPressOnIcon('search')"></i>
          <i class="col-2 fa fa-filter d-sm-none" (click)="userPressOnIcon('filter')"></i>
        </div>
        <!--filters-box-->
        <div class="filters-box col">
          <div class="row">
            <!--type-button-->
            <div class="filter nopadding col-8 col-sm-6  d-sm-flex"
            [ngClass]="{'d-none':mobileFilter!=='filter'}">
              <div ngbDropdown class="d-inline-block" *ngIf="typesArray">
                <button class="btn btn-outline-secondary custom-select-button" id="filterBox" ngbDropdownToggle>
                  <span>Type:
                    <span>{{selectedType}}</span>
                  </span>

                </button>
                <div ngbDropdownMenu aria-labelledby="filterBox">
                  <button class="dropdown-item" *ngFor="let type of typesArray" (click)="typeSelected(type)">{{type}}</button>
                </div>
              </div>
            </div>
            <!--search-input-->
            <div class="search nopadding col-8 col-sm-6  d-sm-flex" 
            [ngClass]="{'d-none':mobileFilter!=='search'}">
              <form class="form-inline" name="search-form" [formGroup]="searchForm">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fa fa-circle">
                      </i>
                    </span>
                  </div>
                  <input name="search" formControlName="searchModel" (keydown.enter)="searchBoxEnter($event)" class="form-control search-input" type="search"
                    placeholder="Search Members" aria-label="Search">
                </div>

              </form>
            </div>
            <div class="col-4" *ngIf="mobileFilter==='filter'||mobileFilter==='search'">
              <button class="btn btn-defult" (click)="userPressOnIcon('')">Cancel</button>
            </div>
          </div>
        </div>
</div>