.search-box {
  .category-name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .filters-box {
    margin: 0 0 20px 0;
    .filter {
      .custom-select-button {
        color: black;
        span {
          font-weight: 600;
          span {
            font-weight: 400;
          }
        }
      }
    }
  }

  .search {
    .input-group-text {
      position: relative;
      left: 22px;
      top: 7px;
      i {
        color: transparent;
        border: 1px solid rgba(128, 128, 128, 0.53);
        border-radius: 100%;
        font-size: 7px;
      }
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(128, 128, 128, 0.53);
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(128, 128, 128, 0.53);
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba(128, 128, 128, 0.53);
    }
    .search-input {
      background-color: transparent;
      border-radius: 20px !important;
      padding-left: 30px;
    }
  }

  .hide-search{
    display: none;
  }
}
