<div class="main-wrapper">

  <div class="member-list-container" *ngIf="members">
    <div class="container-fluid nopadding">
      <div class="search-box-container">
        <ba-search-box 
        (userSelectType)="typeSelected($event)"
        (searchPressEnter)="search()"
        [(searchInput)]="searchInput"
        ></ba-search-box>
      </div>
      <div *ngIf="members">
        <div *ngFor="let member of members">
          <div class="row">
            <div class="members-list col-sm-12 col-12">
              <div class="ba-box member">
                <!--Profile picture-->
                <div class="avatar">
                  <img class="profile-img" *ngIf="member.profile_picture_url" [src]="member.profile_picture_url" onerror="this.src='assets/images/person_ph.svg'"
                    alt="">
                  <img class="profile-img" *ngIf="!member.profile_picture_url" src="assets/images/person_ph.svg">
                </div>

                <div class="member-info">
                  <!--Name-->
                  <h3 [routerLink]="['/member', member.id]">{{member?.first_name}} {{member?.last_name}}</h3>

                  <!--Title-->
                  <p>{{member?.title}}</p>

                  <!--Company-->
                  <p class="company" *ngIf="member.company">
                    <img src="assets/images/workplace.svg" alt="">
                    <span [routerLink]="['/company', member.company.id]">{{member?.company?.name}}</span>
                  </p>
                  <!--Location-->
                  <p class="location" *ngIf="member.location">
                    <img src="assets/images/location-icon.svg" alt="">
                    <span>{{member?.location?.site_code}}</span>
                    <span class="city">{{member?.location?.city_code | cityname}}</span>
                  </p>

                  <!--Skills-->
                  <div>
                    <span class="skills-container">
                      <ba-skills-list [text]="'Team skills'" [setSkills]="member.skills" [maxDisplayedSkills]=4>
                      </ba-skills-list>
                      <!-- <span class="skill" *ngFor="let skill of member.skills">{{skill.name}}</span> -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="members.length !== 0">
            <ngb-pagination 
            class="d-flex justify-content-center" 
            [collectionSize]="collectionSize" 
            [(page)]="pageNumber"
            [boundaryLinks]="true"
            [pageSize]="pageSize"
            (pageChange)="getPageData($event)">
            </ngb-pagination>

        </div>
      </div>
      <div>
          <ba-spinner *ngIf="!members"></ba-spinner>
      </div>
      <div *ngIf="members.length === 0">
        <div class="row">
          <div class="col p-3 mb-2 bg-light text-dark text-center font-weight-bold">No member/company was found</div>
        </div>
      </div>
    </div>
  </div>
</div>