@import "../../themes/variables";
.main-wrapper {


  .member-list-container {
  
    padding: 7vh 0 10px 0;
    .members-list {
      .ba-box {
        margin-top: 0;
      }
      .member {
        .avatar {
          align-self: top;
          flex: 80px 0 0;
          .profile-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
          }
        }
        .member-info {
          margin-left: 20px;
          h3 {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            color: $blue;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 1px;
            a {
              color: inherit;
              &:hover {
                text-decoration: none;
              }
            }
          }
          p {
            display: flex;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 5px;
            img {
              align-self: center;
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }

          .skills-container {
            display: flex;
            flex-wrap: wrap;

            .skill {
              display: flex;
              flex: 1 1 auto;
              justify-content: center;
              align-items: center;
              background-color: $skillBg;
              color: $nameColor;
              padding: 0 25px;
              height: 25px;
              font-size: 12px;
              line-height: 50px;
              border-radius: 25px;
              margin: 10px 10px 10px 0;
            }
          }
          .location{
            .city{
              margin-left:5px;
            }
          }
        }
      }
    }
  }
}
